#business { 
   
  background-color: #a48a8a;
  display: flex;
  align-items: center;
  background-image: url(../img/section2_bg1.jpg);
  width: 100%;
  /*! height: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#business .wrap { 
   
}

#business h2.hide { 
   
}

#business ul.flex { 
   
}

#business ul { 
   
}

#business ul li { 
   
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#business ul li:not(:first-child){
  display: none;
}
#business ul li h3.h1 { 
   
}

#business ul li p.p { 
   
  order: 3;
}

#business ul li a.menu { 
   
  order: 2;
  margin-bottom: 26px;
}
